<html>
<head>
    <meta charset="utf-8">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
        <form class="box" method="post">
          <h1>Login</h1>
            <input type="text" name="getuser" placeholder="Enter email">
            <input type="password" name="getpass" placeholder="Enter Password">
            <input type="submit" name="subm" value="Login">

        </form>
    </div>
</body>
</html>
