<html>
<head>
    <meta charset="utf-8">
    <title>Features</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style_index.css') }}">

</head>
<body>
    <h1>Click on any of these links for features</h1>
<div class="wrapper">
  <a class="first after" href="/signup">LOGIN</a>
</div>
<div class="wrapper">
  <a class="second after" href="/table">NEW ORDER</a>
</div>
<div class="wrapper">
  <a class="third after" href="/path">VIEW SHORTEST PATHS</a>
</div>
<div class="wrapper">
  <a class="fourth before after" href="/graph">VIEW GRAPH</a>
</div>
</body>
</html>

