<!DOCTYPE html>
<html lang="en" >

<head>

  <meta charset="UTF-8">
  <title>Follow-along Links</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700" rel="stylesheet">


      <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style_index.css') }}">
</head>

<body>

  <main>
  <main>
  <h1>Click to visit </h1>
  <nav>
    <a href="/signup">Login</a>
    <a href="/table">New Order</a>
    <a href="/path">View Shortest Path</a>
    <a href="/graph">View Graph</a>
    <a href="/ml">Smart summary</a>
  </nav>
  <!-- <img src="/static/images/logo2.jpeg"> -->
</main>




    <script src="/static/js/main_index.js"></script>




</body>

</html>
